@import url('https://fonts.googleapis.com/css?family=Jua');

html,body{
    margin: 0;
    padding: 0;
}
/* ---- Main Grid ---- */
.grid {
    display:grid;
    grid-template-columns:100%;
    grid-template-rows: 60px 40px 500px auto;
    
    /* grid-template-rows: 90px, 56px; */
    grid-template-areas:
        "hd"
        "shd"
        "m"
        "s";
}
.grid > div {
    border: 1px solid #f00;
}

/* ---- Header Styles ---- */
.header{
    grid-area: hd;
    background: #aaa;
    display: flex; 
    /* grid-area: 1/1/1/13; */
}
.subHeader{
    grid-area: shd;
    background: #ddd;
    text-align: center;
    align-content: center;
    /* grid-area: 1/1/1/13; */
}
.subHeader > p{
    margin: 0px;
    padding: 0px;
    
}

.logo {
    
    font-family: 'Jua', sans-serif;
    display: inline-flex;
    /* width: 50%; */
    margin: auto;
    /* margin: 0; */
    padding: 0;
    /* align-self: center; */
}

.logo > img {
    /* width: 50%; */
    margin-right: 10px;
}
p.title {
    font-size: 35px;
    margin: auto 0px auto 0px;
    /* width: 1000px; */
    padding: 0;
}

/* Main Content */
.mainContent {
    grid-area: m;
    background: #acf;
    /* grid-area: 2/1/2/13; */
}

.mainContent > a {
    margin: auto;
}

.button {
    border: 1px solid #0a3c59;
    background: #3e779d;
    background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
    background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
    background: -moz-linear-gradient(top, #65a9d7, #3e779d);
    background: -ms-linear-gradient(top, #65a9d7, #3e779d);
    background: -o-linear-gradient(top, #65a9d7, #3e779d);
    background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
    padding: 10.5px 21px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
    text-shadow: #7ea4bd 0 1px 0;
    color: #06426c;
    font-size: 14px;
    font-family: helvetica, serif;
    text-decoration: none;
    vertical-align: middle;
    }
 .button:hover {
    border: 1px solid #0a3c59;
    text-shadow: #1e4158 0 1px 0;
    background: #3e779d;
    background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
    background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
    background: -moz-linear-gradient(top, #65a9d7, #3e779d);
    background: -ms-linear-gradient(top, #65a9d7, #3e779d);
    background: -o-linear-gradient(top, #65a9d7, #3e779d);
    background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
    color: #fff;
    }
 .button:active {
    text-shadow: #1e4158 0 1px 0;
    border: 1px solid #0a3c59;
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#3e779d));
    background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
    background: -moz-linear-gradient(top, #3e779d, #65a9d7);
    background: -ms-linear-gradient(top, #3e779d, #65a9d7);
    background: -o-linear-gradient(top, #3e779d, #65a9d7);
    background-image: -ms-linear-gradient(top, #3e779d 0%, #65a9d7 100%);
    color: #fff;
    }

/* ---- Sidebar Styles ---- */
.sideBar {
    grid-area: s;
    background: #fca;
    /* grid-area: 3/1/3/13; */
}

.hide {
    display: none;
}